.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.navItems {
  display: flex;
}

.logo {
  font-weight: 500;
  cursor: pointer;
}

.navButton {
  margin-left: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
  box-shadow: inset 0px 0px 2px 2px rgb(195, 183, 183);
}
